<h1 style="text-align:center">VIEW</h1>
<div *ngIf = "len <= 0" style="text-align:center; color: red"><h5>No records to display</h5></div>
<div *ngIf = "len > 0">
    <tr>
        <th>Si no</th>
        <th>FirstName</th>
        <th>Lastmname</th>
        <th>DOB</th>
        <th>Department</th>
        <th>Degree</th> 
    </tr>    
    <tr *ngFor = 'let ids of EMPARRAY, let i = index'>
        <td>{{i+1}}</td>
        <td (click) = "EmpView(ids.Firstname)" #ff >{{ids.Firstname| firstCharCaps}}</td>  <!--Pipe been used to format the date -->
        <td>{{ids.Lastname}}</td>
        <td>{{ids.DOB|date:'d/M/yyyy'}}</td>  
        <td>{{ids.Department}}</td>
        <td>{{ids.Degree}}</td>
    </tr> 
  
    <br>
    <br>
  </div>
      <!--Search Tab Firstname search -->
      <div  *ngIf = "len > 0">
        <input type="text" placeholder="Search Name" [(ngModel)] = "search">
      
          <ul>
            <li *ngFor = "let n of EMPARRAY | FilterPipe: search">
              Firstname:{{n.Firstname}} Lastname:{{n.Lastname}} DOB:{{n.DOB}} DEPT:{{n.Department}} Degree:{{n.Degree}}
            </li>
          </ul>
     </div>
  